<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.balazssoft.example"
        versionCode = "10" 
        version     = "1.0.89" >

    <!-- versionCode is optional and Android only -->

    <name>Balazs PhoneGap Example</name>

    <description>
        Balazs trying out PhoneGap
    </description>

    <author href="https://pacers.com" email="rau.colorado@gmail.com">
        Balazs Rau
    </author>

    <preference name="orientation" value="portrait" />
    <preference name="permissions" value="none"/>

    <gap:platform name="android" />
    <gap:platform name="ios" />


    <icon src="icon.png"/>
    <icon src="android/icon-36-ldpi.png"  gap:platform="android" gap:density="ldpi"  />
    <icon src="android/icon-48-mdpi.png"  gap:platform="android" gap:density="mdpi"  />
    <icon src="android/icon-72-hdpi.png"  gap:platform="android" gap:density="hdpi"  />
    <icon src="android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
<!--
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.dialogs" />

    
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <preference name="splashscreen" value="splash" />
    <preference name="splashScreenDelay" value="1000" />

    <feature name="Device">
	<param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
-->
<!--    

    <feature name="Accelerometer">
        <param name="android-package" value="org.apache.cordova.devicemotion.AccelListener" />
    </feature>
    <feature name="Geolocation">
	<param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
    </feature>
-->

</widget>

