<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.balazssoft.example"
        versionCode = "10" 
        version     = "1.0.4" >

    <!-- versionCode is optional and Android only -->

    <name>Balazs PhoneGap Example</name>

    <description>
        Balazs trying out PhoneGap
    </description>

    <author href="https://pacers.com" email="rau.colorado@gmail.com">
        Balazs Rau
    </author>

    <!--
    <preference name="orientation" value="portrait" />
    <preference name="permissions" value="none"/>
    -->

    <gap:platform name="android" />

    <icon src="icon.png"/>

    <feature name="Accelerometer">
        <param name="android-package" value="org.apache.cordova.devicemotion.AccelListener" />
    </feature>

</widget>

